@use '../../_variables.scss' as *;

.pizzaIcon {
    position: absolute;
    top: 2rem;
    left: 38%;
    transform: rotate(180deg);
}

.nav{
    @include device-size;
    @include flex-column;
    font-family: $breadFont;
    font-size: 45px;
    color: $primaryWhite;
}

.navList{
    list-style-type: none;
    padding-right: 2rem;
}

.navListItem {
    text-align: center;
}

.navListItemImportant {
    color: $primaryYellow;
}

.footer {
    font-size: 25px;
    position: absolute;
    bottom: 1rem;
    right: 40%;
}