/* CategoryCard.scss */

@use '../_variables.scss' as vars;

.category-card {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: vars.$primaryWhite;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.category-card__title {
    font-family: vars.$inter;
    font-size: 2rem;
    transform: translate(0, -25%);
}