@use '../_variables.scss' as *;

.headerTitle {
    color: $primaryYellow;
    font-family: $titleFont;
    font-size: 40px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 450px;
    height: 100px;
    padding: 0 1rem;
    position: absolute;
    top: 0;
}