@use '../_variables.scss' as *;

.header-title {
    color: $primaryYellow;
    font-family: $titleFont;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 1rem 0 1rem;
}