/* Header.scss */

@use '../_variables.scss' as vars;

.headerTitle {
    color: vars.$primaryYellow;
    font-family: vars.$inter;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;

}