/* ProductCard.scss */

@use '../_variables.scss' as vars;

.product-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: vars.$primaryWhite;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.product-card__title {
    font-family: vars.$inter;
    margin: 0px;
    text-align: left;
    padding-left: 1rem;
}

.product-card__ingredients {
    font-family: vars.$inter;
    padding-left: 1rem;
    text-align: left;
    margin-top: 0px;
}

.product-card__price {
    font-family: vars.$inter;
    padding-right: 1rem;
}