@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rokkitt:wght@400;500;600;700&display=swap');

$primaryPurple: #390628;;
$primaryYellow: #FFDA78;
$primaryWhite: #F8EEDF;
$primaryRed: #FA4663;
$primaryLightGreen: #48857A;

$titleFont: "Rokkitt";
$breadFont: "Roboto";


@mixin device-size {
    width: 450px;
    min-height: 100vh;
    background-color: $primaryPurple;
    border-radius: 10px;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
