@use '../../_variables.scss' as *;

.pizzaIcon {
    position: relative;
    top: -9.5rem;
    left: -11rem;
    transform: rotate(180deg);
}

.nav{
    @include device-size;
    @include flex-column;
    font-family: $breadFont;
    font-size: 45px;
    color: $primaryWhite;
}

.navList{
    list-style-type: none;
}

.navListItem {
    text-align: center;
}

.navListItemImportant {
    color: $primaryYellow;
}

.footer {
    font-size: 25px;
    position: relative;
    bottom: -9rem;
    right: -8.5rem;
}